@charset "UTF-8";
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.inline-image {
  width: auto;
  text-align: center;
  padding: 20px;
}

.inline-image img {
  border-radius: 1rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

.ads {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-with-links {
  position: relative;
  display: inline-block;
}

.image-with-links img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0;
}

.app-links-row {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.app-links-row img {
  height: 40px;
  padding: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.app-links-row img[alt="Get it on Google Play"] {
  padding: 0;
  height: 55px;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
.section-header {
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

section a {
  color: #fbfbf7;
  background: #404643;
}

section a:hover {
  color: #404643;
  background: #bfc6d0;
}

.question {
  font-weight: 600;
  font-style: italic;
}

.link {
  position: relative;
  width: 90%;
  margin: 25px auto;
  background-color: #fbfbf7;
  color: #404643;
  padding: 1.125em 1.5em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.link:after {
  content: "";
  border: 1rem solid transparent;
  border-top-color: #fbfbf7;
  border-bottom: 0;
  position: absolute;
  bottom: -15px;
  left: 3em;
  margin-left: -20px;
  filter: drop-shadow(0 0.5rem 0.125rem rgba(0, 0, 0, 0.1));
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #404643;
  margin-top: 2em;
}

table th {
  border: 1px solid #404643 !important;
  color: #404643;
  padding: 0 10px;
}

table td {
  border: 1px solid #404643 !important;
  color: #404643;
}

table th.none {
  border-top: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

table td.none {
  border: 3px solid transparent !important;
}

table td.speech-bubble {
  background: #fbfbf7;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 20px 30px;
  width: 150px;
  border-radius: 10px;
}

table td.speech-bubble:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fbfbf7;
}

.num {
  text-align: center;
  padding: 0 10px;
}

.comp {
  padding: 10px;
}

nav {
  background: #fbfbf7;
  color: #404643;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  padding: 5px 10px;
  text-align: center;
}

nav a {
  color: #404643;
  text-decoration: none;
  font-size: 18px;
}

nav li:hover {
  background: #A5ABA9;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 10%;
  display: none;
  padding-right: 20px;
}

nav ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background: #fbfbf7;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.active {
  font-weight: bold;
}

.onpage {
  margin-left: 10px;
  font-size: 0.75em;
}

.quote {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #A5ABA9;
  color: #404643;
  margin: 50px auto;
  width: 90%;
  padding: 25px 15px;
  border-radius: 1rem;
  box-shadow: 5px 5px #404643;
}

.quote:before {
  position: absolute;
  content: "“";
  color: #404643;
  font-size: 10rem;
  line-height: 0;
  top: 30px;
  left: 30px;
  margin-top: 10px;
  opacity: 0.75;
}

.quote:after {
  position: absolute;
  content: "”";
  color: #404643;
  font-size: 10rem;
  line-height: 0;
  bottom: -50px;
  right: 30px;
  margin-bottom: 10px;
  opacity: 0.75;
}

.advice {
  position: relative;
  width: 90%;
  margin: 50px auto;
  background-color: #fbfbf7;
  color: #404643;
  padding: 1.125em 1.5em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.advice:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 5em;
  border: 1rem solid transparent;
  border-top: none;
  border-bottom-color: #fbfbf7;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

body {
  background: linear-gradient(to right, rgba(195, 202, 170, 0.8), rgba(195, 202, 170, 0.3));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.mainHeader .header-image {
  height: 25 vh;
  background: url("../img/chalkboardBackground.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.mainHeader .page-title {
  text-align: center;
  padding: 1.5rem;
  border-bottom: 3px solid #bfc6d0;
  color: #fbfbf7;
  line-height: 1.25em;
}

.main-section {
  padding-top: 1.5em;
}
.main-section .section-header {
  text-align: center;
}

.footer {
  border-top: 3px solid #bfc6d0;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 50px;
}

.footer a {
  color: #404643;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  float: left;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #404643;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #c3caaa;
}

.btn {
  border-radius: 0.5rem;
  background: #fbfbf7;
  border: 0.75px solid #404643;
  color: #404643;
  padding: 5px 10px;
  text-decoration: none;
  margin: 2px 0;
}

.button {
  padding: 0.75em 0;
}

@media screen and (min-width: 425px) {
  nav li {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */