.link {
  // layout
	position: relative;
	width: 90%;
	margin: 25px auto;
	// looks
  background-color: $light-color;
  color: $dark-green;
	padding: 1.125em 1.5em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


.link:after {
  content: '';
  border: 1rem solid transparent;
  border-top-color: $light-color;
  border-bottom: 0;
  position: absolute;
  bottom: -15px;
  left: 3em;
  margin-left: -20px;
  filter: drop-shadow(0 0.5rem 0.125rem rgba(0, 0, 0, .1));
}