.quote {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: ($grey-color);
  color: $dark-green;
  margin: 50px auto;
  width: 90%;
  padding: 25px 15px;
  border-radius: 1rem;
  box-shadow: 5px 5px $dark-green;

}
.quote:before {
  position: absolute;
  content: "“";
  color: $dark-green;
  font-size: 10rem;
  line-height: 0;
  top: 30px;
  left: 30px;
  margin-top: 10px;
  opacity: 0.75;
}

.quote:after {
  position: absolute;
  content: "”";
  color: $dark-green;
  font-size: 10rem;
  line-height: 0;
  bottom: -50px;
  right: 30px;
  margin-bottom: 10px;
  opacity: 0.75;
}

.advice {
  // layout
	position: relative;
	width: 90%;
	margin: 50px auto;
	// looks
  background-color: $light-color;
  color: $dark-green;
	padding: 1.125em 1.5em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}


.advice:before {
  // layout
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 5em; // offset should move with padding of parent
	border: 1rem solid transparent;
  border-top: none;

	// looks
	border-bottom-color: $light-color;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

